@font-face {
    font-family: 'BatonTurbo';
    src: url('./static/fonts/BatonTurbo-Regular.otf') format('otf');
    //url('/fonts/BatonTurbo-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
